.data-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.1px solid lightgray;
  border-left: 0.1px solid lightgray;
  height: 30px;
  width: 1.907vw;
}

.table-heading {
  width: 37px;
  font-size: 10px;
  margin: 7px 10px 0 7px;
}

.box-container:first-child {
  border-right: 1px solid lightgray;
}

.box-container:last-child {
  border-right: 1px solid lightgray;
}

.data-box-last {
  border-bottom: 1px solid lightgray;
}

@media only screen and (min-width: 1424px) {
  .data-box {
    width: 1.9368vw;
  }
}

.gray-back span {
  white-space: nowrap;
  width: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.box-container {
  position: relative;
}

.box-container:hover .tooltip {
  position: absolute;
  top: -20px;
  background-color: black;
  color: white;
  padding: 10px;
  z-index: 1;
  left: -30px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 1;
  display: block;
  width: auto;
}

.tooltip {
  /* transition:  ease-out; */
  opacity: 0;
  width: 0;
  display: block;
}
