.data-box {
  width: 1.985vw;
  border-left: 1px solid lightgray;
  display: flex;
  border-top: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-left: 1px;
  padding-right: 1px;
  overflow: hidden;
}

.table-heading {
  margin-right: 13px;
  width: 40px;
  font-size: 10px;
  margin-top: 7px;
}
.data-box:last-child {
  border-right: 1px solid lightgray;
}

.data-box-last {
  border-bottom: 1px solid lightgray;
}

@media only screen and (min-width: 1439px) {
  .data-box {
    width: 2.0111vw;
  }
}

.gray-back span {
  white-space: nowrap;
  width: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.box-container {
  position: relative;
}

.box-container:hover .tooltip {
  position: absolute;
  top: -20px;
  background-color: black;
  color: white;
  padding: 10px;
  z-index: 1;
  left: -30px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 1;
  display: block;
  width: auto;
}

.tooltip {
  /* transition:  ease-out; */
  opacity: 0;
  width: 0;
  display: block;
}
